:root {
    --h1-font-size: 36px;
    --h2-font-size: 24px;
    --h3-font-size: 18px;
    --medium-font-size: 14px;
    --bg-body-color: #DFCFBE;
}

* {
    font-family: Arial ;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: 400px;
    align-items: center;

    background-color: var(--bg-body-color);
}

main {
    padding-top:30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: bold;
    color: black;
}

h2 {
    font-size: var(--h2-font-size);
}


p {
    font-size: var(--medium-font-size);
}
ul {

}
ul > li {
    margin-bottom: 5px;
}

.searcher-wrap {
    input {
        border: 1px solid black;
        border-radius: 10%;
        margin: 10px 0;

    }
}

.spacer-bottom {
    margin-bottom: 10px;
}

.bold-font {
    font-weight: bold;
}